.forecontainer {
  display: flex;
}
.foremain {
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .foremain {
    display: flex;
    flex-direction: column;
    gap: 300px;
  }
}
